<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SmartNotes - Home</title>
    <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.1.2/css/bulma.css" />
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Raleway:500" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet"/>


    <link rel="stylesheet" type="text/css" href="css/style.css" />

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    
    <script>
    $( function() {
      function log( message ) {
        console.log(message);
        $( "<div contenteditable='true'>" ).text( message ).prependTo( "#log" );
        $( "#log" ).scrollTop( 0 );
      }

      $( "#phrase" ).autocomplete({
        source: function( request, response ) {
          $.ajax( {
            url: "http://localhost:8000/suggestions",
            dataType: "jsonp",
            data: {
              q: request.term
            },
            success: function( data ) {
              //console.log('success');
              // Handle 'no match' indicated by [ "" ] response
              response( data.length === 1 && data[ 0 ].length === 0 ? [] : data );
            }
          } );
        },
        minLength: 3,
        select: function( event, ui ) {
          log( '- ' + ui.item.label );
          // $("#phrase").text = "";
        }
      } );
    } );
    </script>

    <script>
    $(function() {
      $('#addTranscript').click(function() {
          var pass = $('#transcript').val();
          $.ajax({
              url: '/addTranscript',
              data: $('form').serialize(),
              type: 'POST',
              success: function(response) {
                  console.log(response);
              },
              error: function(error) {
                  console.log(error);
              }
          });
      });
    });
    </script>
  </head>
  <body>
  <div id="head_container">
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html"><img src="../static/smartnotes-logo.png"></a>
          </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse pull-right">
  </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
  </div>

<div class="container">
<!-- <div class="tabs is-centered">

</div> -->
     
        
      <form name="form">
        <textarea class="textarea" placeholder="enter your transcript:" name="transcript" id="transcript"></textarea>
        <br>
        <button class=" btn btn-lg btn-danger pull-right" id="uploadButton">Submit</button>
      </form>
        <br><br>

        <h2 class = "headers-form-sub">2.) Add your title:</h2>

        <input class="input" type="text" placeholder="insert title" id="title"/>

        <div class="ui-widget">
          <h2 class="headers-form-sub">3.) Start searching for keywords & click enter to add to your notes! </h2>
         <!-- <input class="input" id="phrase" class="form-control" placeholder="search for keywords" type="text"> -->
         <input id="phrase" class="form-control" type="text">
        </div>


        <h2 class="headers-form-sub">Lastly, export your notes as a pdf here, or use data visualization to see what keywords you used!</h2>

        <div class="ui-widget" style="margin-top:2em; font-family:Arial">
        <!-- <div id="log" style="height: 200px; width: 300px; overflow: auto;" class="ui-widget-content form-control"></div> -->

        <div id="log" class="ui-widget-content"></div>
      </div>
    </div>





  </body>
</html>
